:root{
  --background-lightgray: #f7f7f7;
  --borders-black: #000;
  height: 100%;
  width: 100%;
}


[data-theme="dark"]{
  --background-lightgray: #1e1e1e;
  --borders-black: #575757;
}


/* Styles for the body */
body {
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Arrange items vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  height: 90vh; /* Full viewport height */
  background-color: var(--background-lightgray); /* Light gray background */
  font-family: Arial, sans-serif; /* Use Arial or sans-serif font */
}

/* Styles for tables */
table {
  border-collapse: collapse; /* Collapse borders for table cells */
  margin: auto; /* Center the table  */
  
}

/* Styles for table cells */
td {
  border: 1px solid var(--borders-black); /* Black border around cells */
  width: 40px; /* Fixed width for cells */
  height: 40px; /* Fixed height for cells */
  text-align: center; /* Center text horizontally */
  font-size: 20px; /* Font size of text */
  line-height: 40px; /* Line height for vertical centering */
  padding: 0; /* Remove padding inside cells */
}

/* Styles for input elements inside table cells */
td input {
  width: 100%; /* Take full width of parent cell */
  height: 100%; /* Take full height of parent cell */
  border: none; /* Remove default input border */
  text-align: center; /* Center text horizontally */
  font-size: 20px; /* Font size of text */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

/* Additional styles for table cells with right border */
.bold-border-right {
  border-right: 2px solid var(--borders-black); /* Bold right border */
}

/* Additional styles for table cells with bottom border */
.bold-border-bottom {
  border-bottom: 2px solid var(--borders-black); /* Bold bottom border */
}

/* Styles for buttons */
button {
  margin-top: 20px; /* Margin on top of buttons */
  padding: 10px 20px; /* Padding inside buttons */
  font-size: 16px; /* Font size of button text */
  cursor: pointer; /* Cursor style on hover */
  margin: auto;
  border: 1px solid var(--borders-black);
  background-color: var(--background-lightgray);
  border-radius: 7%;
}

#button-container{
  text-align: center;
}

#button-container button {
  margin: 20px;
}
